body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}
/* Características en común de todas las pantallas */
.comunPantallas {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Estilos pantalla 1 */
#pantalla1{
    background-image: url("../img/nuclear.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
/* Estilos pantalla 2 */
#pantalla2{
    background-image: url("../img/banderas.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
/* Estilos pantalla 3 */
#pantalla3{
    background-image: url("../img/congreso.jpg");
}
/* Estilos pantalla 4 */
#pantalla4{
    flex-direction: column;
}
.tituloJuego{
    font-size: 6rem;
    text-shadow: 0 0 3px #fff;
}
.botonStart {
    color: #1cc49d;
    background-color: #1b2f31;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8em;
    width: 16em;
    
}
.botonStart:active{
    color: #27aa8b;
}
.botonStart:hover{
    cursor: pointer;
}
.textoStart{
    font-size: 1.8rem;
    font-weight: 600;
}
/* Estilos seleccion de personaje */
.divPersonaje{
    width: 20em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(12,1,182);
    background: linear-gradient(90deg, rgba(12,1,182,1) 0%, rgba(127,108,172,1) 100%);
    border: 0.4rem black solid;
    border-radius: 2em;
    cursor: pointer;
}
.divPersonaje:active{
    background: rgb(35, 30, 131);
}
.tamañoImagen{
    height: 15em;   
}
.textoPersonajes{
    font-size: 2rem;
    font-weight: bold;
}
.lateralPelea {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* Barras de vida */

.barraVida {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: black;
    border-radius: 10px;
    border: 1px solid white;
    height: 2em;
    width: 18em;
}
#vidaDisponible1 {
    background-color: rgb(67, 233, 34);
    border-radius: 10px;
    height: 2em;
    width: 100%;
}
#vidaDisponible2 {
    background-color: rgb(67, 233, 34);
    border-radius: 10px;
    height: 2em;
    width: 100%;
}