body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;

}
.comunPantallas {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#pantalla1{
    background-image: url("../img/nuclear.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
#pantalla2{
    background-image: url("../img/banderas.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
#pantalla3{
    background-image: url("../img/congreso.jpg");
}
#pantalla4{
    background-image: url("../img/congreso.jpg");
}


.tituloJuego{
    font-size: 6rem;
    text-shadow: 0 0 3px #fff;
}
.botonStart {
    color: #1cc49d;
    background-color: #1b2f31;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8em;
    width: 16em;
    
}
.botonStart:active{
    color: #27aa8b;
}
.botonStart:hover{
    cursor: pointer;
}
.textoStart{
    font-size: 1.8rem;
    font-weight: 600;
}

.divPersonaje{
    width: 20em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(12,1,182);
    background: linear-gradient(90deg, rgba(12,1,182,1) 0%, rgba(127,108,172,1) 100%);
    border: 0.4rem black solid;
    border-radius: 2em;
    cursor: pointer;
}
.divPersonaje:active{
    background: rgb(35, 30, 131);
}
.tamañoImagen{
    height: 15em;
}
.textoPersonajes{
    font-size: 2rem;
    font-weight: bold;
}